
  <br>
  <div *ngFor="let threadItem of threadItems">
    <mat-card class="cards" routerLink="/home/{{threadItem.id}}" matRipple [matRippleCentered]=false [matRippleDisabled]=false [matRippleUnbounded]=false>
      <mat-card-header>
        <mat-card-subtitle>Posted by {{ threadItem.username }} on {{ threadItem.time }}</mat-card-subtitle>
        <mat-card-title>{{ threadItem.title }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p></p>
        <p>{{ threadItem.body }}</p>
        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-footer>
      </mat-card-footer>
    </mat-card>
    <br>
  </div>

  
  <mat-card *ngIf="authenticated" class="bottomcard">
    <mat-card-header>
      <mat-card-title>New Thread</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Title</mat-label>
          <input [(ngModel)]="title" name="title" type="text" matInput placeholder="Ex. Pizza">
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
          <mat-label>Body</mat-label>
          <textarea [(ngModel)]="body" name="body" type="text" matInput placeholder="Ex. I have a problem..."></textarea>
        </mat-form-field>
    
        <button mat-raised-button color="primary" (click)="addThread()">Add Thread</button>
      </form>
    </mat-card-actions>
    <mat-card-footer>
      <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>

<br>